@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-color: #225db0;
    background-size: cover;
    height: 100vh;
}

.empower-head {
    color: #ffffff;
    font-size: 30px;
    font-family: "Roboto";
    padding: 20px;
    text-align: center;
}

.empower-para {
    color: #ffffff;
    font-size: 15px;
    font-family: "Roboto";
    padding: 5px;
    text-align: center;
}

.categories-item {
    background-color: #ffffff;
    color: #1f2933;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    height: 100px;
    width: 150px;
}

.image {
    height: 50px;
    width: 50px;
    text-align: center;
}

.categories-name {
    color: #1f2933;
    font-size: 20px;
}

.technology-image-container {
    background-color: #225db0;
    background-size: cover;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    height: 100vh;
}

.list-items {
    color: #ffffff;
    font-size: 30px;
    padding: 10px;
}