@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: linear-gradient(#f788c0, #cc94d4);
    height: 100vh;
}

.main-heading {
    color: white;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
}

.button {
    font-family: "Roboto";
}

.label-heading {
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-family: "Roboto";
}

.error {
    color: red;
}