@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-image {
    background-color: #19232d;
    height: 100vh;
    padding: 50px;
}

.image {
    height: 50px;
    width: 80px;
}

.vrweb-icon-container {
    background-color: #202b36;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 15px;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 22px;
}

.icon {
    color: #5a7184;
    font-size: 35px;
}

.address {
    color: #5a7184;
    font-size: 20px;
    text-align: center;
}

.heading {
    color: #5a7184;
    font-size: 30px;
}