

@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Sans-Serif;
    font-size: 1.2rem;
}

.list {
    background-color: #fa8072;
    font-family: Sans-Serif;
    height: 100px;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 23px;
}

.label {
    float: right;
    align-items: center;
}

.list ul li {
    display: inline-block;
    margin: 10px;
}

.bg-container {
    background-image: linear-gradient(to right, #fff68f, #ffc1f3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.find-out {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    color: black;
    font-family: Sans-Serif;
    font-size: 24px;
}

.para {
    color: black;
    font-family: Sans-Serif;
}

.image {
    width: 100%;
    align-self: flex-start;
    margin-top: 10px;
}

@media screen and (min-width:768px) {
    .find-out {
        flex-direction: row;
    }
}

@media screen and (min-width:768px) {
    .heading {
        font-size: 34px;
        color: black;
        font-family: Sans-Serif;
    }
}

@media screen and (min-width:768px) {
    .para {
        font-size: 15px;
    }
}

@media screen and (min-width:768px) {
    .image {
        width: 50%;
        max-width: 400px;
        align-self: auto;
        order: 1;
    }
}

.button {
    background-color: #ff6e30;
    color: #ffffff;
    font-family: Sans-Serif;
    border: none;
    height: 40px;
    width: 120px;
    font-size: 18px;
}

.image {
    height: 300px;
}

.menu-item-link {
    color: black;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}


.container {
    padding: 5px;
    margin: 6px;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to right, #fff68f, #ffc1f3);
}

.rightContainer {
    background-color: #fa8072;
    flex-basis: 30%;
    margin-left: 10px;
}

h2 {
    font-size: 2rem;
    color: black;
    text-align: left;
    padding: 10px;
}

p {
    color: black;
    margin-top: 10px;
    text-align: left;
    font-size: 12px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.box {
    width: 90%;
}

.gallery {
    flex-basis: 60%;
    display: flex;
    padding: 5px;
}

.box1 {
    background-position: center;
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
    margin-left: 5px;
}

@media screen and (min-width:768px) {
    .gallery {
        flex-basis: 40%;
        display: flex;
        padding: 5px;
    }
}