

body{
    margin: 0;
    font-family: sans-serif;
}

.topContainer h1{
    color: black;
    font-family: sans-serif;
    text-align: center; 
    padding:20px;
    margin: 0;
}

.topContainer p{
    color: black;
    font-family: sans-serif;
    font-weight: 400;
    text-align: left; 
    padding: 20px;
}

.topContainer button{
    background-color:#fa8072 ;
    border: 0;
    color:white;
    height:30px;
    width: 150px;
    padding:20px;
    margin: 10px;
}

.topContainer img{
    height:400px;
    width: 400px;
}

.bottomContainer img{
    height:300px;
}


.menu-item-link {
    color: black;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
  }

  nav{
    background-color: #fa8072;
    height:60px;
    width: 100%;
  }

  nav ul{
    float: right;
    margin-right: 55px;
  }

  nav ul li{
    display: inline-block;
    
  }

  nav ul li a{
    color:black;
    text-decoration: none;
    font-size: 18px;
    padding:7px 13px;
  }

  .label{
    font-size: 25px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    text-align: center;
  }

.topContainer{
    background-image: linear-gradient(to right, #fff68f, #ffc1f3);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width:100%;
}

  .bottomContainer{
    background-image: linear-gradient(to right, #fff68f,#ffc1f3);
    padding: 5px;
    margin: 6px;
    display: flex;
    align-items:center;
    justify-content:center;
    padding: 40px;
    min-width:100%;
  }

  .rightContainer{
    background-color: #fa8072;
    height: 60%;
    width: 20%;
    text-align: left;
    padding: 10px;
    margin-left: 20px;
  }

  h2{
     color: black;
    font-family: sans-serif;
    font-weight: bold;
    text-align: left; 
    padding:10px;
    }
    @media (min-width:768px) and (max-width:1200px){
        .topContainer {
          width:100%;
        }
      }
      
      @media (min-width:768px) and (max-width:1200px) {
        .bottomContainer {
            width:100%;
        }
      }